@media (max-width: 1020px) {
  .left-side-dsk {
    display: none;
  }

  header,
  .chat-window {
    display: none;
  }

  .contacts-chat {
      border: none;
  }

  .chat-list {
    height: 80%;
    overflow: hidden;
  }

  .chat-list .blanc-height {
    display: inline-block;
  }


  .contact-list {
      width: 100%;
  }

  .blanc-height {
    display: block;
    min-height: 1rem;
    background-color: #e7e9ea;
}

.contact-actions {
    display: none;
}

.act-btns {
    display: inline-block;
    width: 100%;
    background-color: white;
}

.cont-actions-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
}

.nav-item a {
    font-size: 1.5rem;
}
 
.search-user-card {
    display: none;
}

.top-act-btns {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    color: gray;
}

.top-actions-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: .8rem;
}

.top-nav a{
    font-size: 0.8rem;
}

}
