@media (max-width: 1020px) {
  body {
    /* min-width: 550px;
    max-width: 780px; */
    width: 90%;
  }

  main {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 100%;
  }

  .left-side-dsk {
    display: none;
  }

  .carrousel-photo-view {
    min-width: 360px;
    width: 100%;
    max-height: 600px;
    min-width: 360px;
    flex: 1;
  }

  .image-wrapper img {
    max-width: 100%;
    width: 100%;
    min-width: 360px;
  }

  .right-side-dsk {
    display: flex;
    justify-content: start;
    position: relative;
    top: -85px;
    align-self: flex-start;
    width: 100%;
    flex: 1;
    min-width: 360px;
    margin: 0;
  }

  .user-nav {
    display: none;
  }

  header {
    display: none;
  }

  .popularity-card {
    display: none;
  }

  .filter-card {
    display: none;
  }

  .data-frame-side {
    padding-top: 20px;
    align-self: left;
    width: 100%;
    min-width: 362px;
    height: 30%;
  }

  .person-data {
    flex-direction: row;
    justify-content: space-between;
  }

  .locicon-wrapper {
    display: none;
  }

  .title {
    font-size: 0.5rem;
  }

  .data-box {
    font-size: 0.7rem;
  }
}
